@font-face {
    font-family: vanilla-caramel;
    src: url(./fonts/vanilla_caramel.otf);
}

@font-face {
    font-family: giblant;
    src: url(./fonts/Giblant.otf);
}

* {
    margin: 0;
    padding: 0;
    font-family: giblant, sans-serif;
}

body {
    height: 100vh;
}

img{
    object-fit: contain;
    min-height: 0;
}


.container {
    height: 100%;
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    grid-template-rows: 150px 1fr 1fr;
}

.sidebar {
    grid-row: 1 / -1;
    background-color: rgb(70, 70, 70);
    color: white;
    
    display: grid;
    grid-template-rows: 150px repeat(10, 30px);
    align-items: center;
    gap: 15px;
} 


.header {
    grid-column: 2 / -1;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 40% 60%;
    height: 100%;
    background-color: lightgray;
    box-shadow: 1px 5px 5px darkgray;
}

.header .search{
    height: 100%;
    display: grid;
    grid-template-columns: 75px 1fr;
    justify-items: center;
    align-items: center;
}

.header .search * {
    height: 50%;
    width: 50%;
}

.header .search input[type=text] {
    width: 96%;
    border-radius: 10px;
    border: 1px gray solid;
}

.header .profile{
    display: grid;
    grid-template-columns: 3fr 1fr 2fr;
    justify-items: center;
    align-items: center;
}

.header .profile * {
    height: 50%;
    width: 100%;
}

.header .profile img{
    grid-column: 2;
}

.header .profile div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .name{
    display: grid;
    grid-template-columns: 120px 1fr;
    justify-items: center;
    align-items: center;
}

.header .name *{
    height: 80%;
}

.header .name .presentation{
    font-size: 20px;
    justify-self: start;
    display: flex;
    justify-content: start;
    align-items: center;
}

.header .controls{
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.header .controls button {
    flex: 1;
    height: 50%;
    border-radius: 8px;
    border: 1px gray solid;
}

.header .controls button:hover{
    background-color: lightgray;
}

.header .controls button:active{
    background-color: darkgray;
}


.main-content {
    grid-area: 2 / 2 / -1 / -2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px repeat(3, 1fr);
    align-items: center;
}

.projectstitle {
    grid-column: 1 / -1;
    font-size: 25px;
    margin-left: 50px;
    font-weight: bold;
}

.project {
    background-color: lightgray;
    height: 80%;
    width: 80%;
    margin: 8%;
    padding: 10px;
    border-radius: 5px;
    box-shadow: inset 5px 0 gold;
    display: grid;
    grid-template-rows: 1fr 2fr auto;
}

.projecttitle {
    font-size: 20px;
    font-weight: bold;
}

.project .data {
    font-size: 14px;
}

.project .links {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    
}

.project .links img{
    height: 30px;
}

.side-content1 {
    grid-area: 2 / 3 / 3 / -1;
    display: grid;
    grid-template-rows: 60px 1fr;
}

.side-title {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.announcements {
    background-color: darkgray;
    height: fit-content;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.announcement {
    min-height: 50px;
    align-self: center;
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divider {
    flex-grow: 1;
    border-bottom: 1px solid rgb(61, 61, 61);
    margin: 5px
  }

.side-content2 {
    grid-area: 3 / 3 / 4 / 4;
    grid-template-rows: 60px 1fr;
}

.peoples {
    background-color: darkgray;
    height: fit-content;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.people {
    min-height: 50px;
    align-self: center;
    justify-self: center;
    display: flex;
    gap: 5px;
    align-items: center;
}

.people img {
    height: 40px;
}

.title {
    font-family: vanilla-caramel, sans-serif;
    justify-self: center;
    font-size: 4rem;
}

.option {
    padding-left: 20px;
    font-size: 20px;
    height: 100%;
    display: grid;
    grid-template-columns: 30px 1fr;
    gap: 20px;
}

.option img {
    filter: invert(1);
    height: 100%;
    width: 100%;
    object-fit: contain;
    min-height: 0;
}