@font-face {
    font-family: vanilla-caramel;
    src: url(./fonts/vanilla_caramel.otf);
}

@font-face {
    font-family: giblant;
    src: url(./fonts/Giblant.otf);
}

* {
    margin: 0;
    padding: 0;
    font-family: giblant, sans-serif;
}

body {
    height: 100vh;
}


.container {
    height: 100%;
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    grid-template-rows: 150px 1fr 1fr;
}

.sidebar {
    grid-row: 1 / -1;
    background-color: #2596be;
    color: white;
    
    display: grid;
    grid-template-rows: 150px repeat(10, 30px);
    align-items: center;
    gap: 15px;
} 

.header {
    grid-column: 2 / -1;
    background-color: darkred;
}

.main-content {
    grid-area: 2 / 2 / -1 / -2;
    background-color: darkcyan;
}

.side-content1 {
    grid-area: 2 / 3 / 3 / -1;
    background-color: darkmagenta;
}

.side-content2 {
    grid-area: 3 / 3 / 4 / 4;
    background-color: darkolivegreen;
}



.title {
    font-family: vanilla-caramel, sans-serif;
    justify-self: center;
    font-size: 4rem;
}

.option {
    padding-left: 40px;
    font-size: 20px;
    height: 100%;
    display: grid;
    grid-template-columns: 30px 1fr;
    gap: 40px;
}

.option img {
    filter: invert(1);
    height: 100%;
    width: 100%;
    object-fit: contain;
    min-height: 0;
}